@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'mochi';
  src: url('/Mochi.ttf') format('truetype');
}

@font-face {
  font-family: 'ubuntu';
  src: url('/Ubuntu-Regular.ttf') format('truetype');
}

@media (max-width: 850px) {
  .items-container {
    flex-direction: column;
  }
  .computer-wrapper {
    width: clamp(260px, 70vw, 480px);
  }
}

html {
  font-size: clamp(14px, 1.2vw + 10px, 20px);
}

body {
  font-family: 'Nunito', 'ubuntu';
  margin: 0;
}

.header-bar {
  font-family: 'mochi';
  text-align: center;
  width: 100%;
  background: #b5cc93;
  color: white;
  padding-top: 15px;
}

.header-title {
  margin: 10px;
  margin-top: 0px;
  font-size: 3.0rem;
}

.header-title a,
.header-nav a {
  color: white;
  text-decoration: none;
}

.header-nav {
  display: flex;
  justify-content: center;
  gap: 3vw;
  margin-bottom: 10px;
  font-size: clamp(1.4rem, 1.3vw + 0.2rem, 4.0rem);
}

.header-nav a {
  transition: transform 0.2s ease-in-out;
  margin-bottom: 10px;
}

.header-title a:visited,
.header-nav a:visited {
  color: white;
}

.header-title a:hover,
.header-nav a:hover,
.header-title a:active,
.header-nav a:active {
  color: #fffff0;
  transform: scale(1.17);
}

.content {
  padding: 20px;
}

.routes {
  padding: 10px;
}

.about-interests-div {
  margin: 10px;
  text-align: center;
}

.about-interests-cards-div {
  color: white;
  max-width: 1300px;
  width: 100%;
  margin: auto;
}

.about-info {
  padding-left: 1rem;
  padding-right: 1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
}

.card {
  flex: 0 0 calc(33.33% - 10px);
  max-width: calc(33.33% - 10px);
  width: 100%;
  padding: 10px;
  transition: 0.4s;
  border: 3px solid transparent;
  perspective: 1000px;
  height: 220px;
  background: transparent;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background-color: #b5d2e8;
  border-radius: 10px;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front h1, h2{
  font-size: 1.2rem;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-back {
  transform: rotateY(180deg);
}

.card-back ul {
  list-style-type: none;
  font-size: 1rem;
}

.card-title-back {
  font-size: 1.4rem;
}

.research-div {
  text-align: center;
}

.research-div a{
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
}

.research-title a{
  font-size: 1.3rem;
}

.research-group-name a{
  font-size: 1rem;
}

.research-goal {
  font-size: 1rem;
  padding: 20px;
}

.research-objectives {
  display: flex;
  justify-content: space-between;
  gap: 30px;   
}

.research-objectives div {
  flex: 1;
  border-radius: 10px;
  background-color: #edc487;
  padding: 0.5rem;
}

.research-objective-title {
  font-size: 1.2rem;
}

.research-div ul {
  list-style: none;
}

.research-div li {
  font-size: 0.8rem;
  margin-bottom: 6px;    
}

.hover-illini-box {
  position: relative;
  display: inline-block;
}

.hover-illini {
  display: none;
  position: fixed;
  left: 50%;  
  top: 50%;  
  z-index: 999;
  width: 50vh;
  transform: translate(-50%, -50%);
}


.hover-illini-box:hover .hover-illini {
  display: block;
}

.cs-ggis-carousel-div,
.earth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.computer-wrapper {
  position: relative;
  width: clamp(350px, 50vw, 700px);
}

.computer-wrapper:hover {
  cursor: pointer;
}

.computer-image {
  width: 100%;
  height: auto;
  display: block;
}

.screen-text {
  position: absolute;
  top: 20%;          
  left: 52%;
  width: 49%;
  transform: translateX(-50%);
  text-align: center;
  font-size: clamp(0.6rem, 1.2cqw, 1.5rem);
  /* font-size: clamp(0.6rem, 1vw + 0.5rem, .8rem); */
  font-family: 'Courier New';
  color: black;
  font-weight: 500;
  line-height: 1.3;
}

.earth-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 1000px;
  cursor: pointer;
}

.earth-image {
  width: clamp(220px, 25vw, 300px);
  height: clamp(220px, 25vw, 300px);
  border-radius: 50%;
  object-fit: cover;
  transition: transform 1s ease;
  transform-style: preserve-3d;
}

.personal-projects {
  align-items: center;
}

.personal-projects a {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 10px 0;
  align-items: center;
}

.hint {
  font-size: 0.6rem;
  color: green;
}

.home-me-photos{
  width: min(900px, 80vw);
  aspect-ratio: 3 / 2;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: grid;
  place-items: center;
}

.home-photos{
  position: relative;
  width: 100%;
  height: 100%;
}
